// Variables
$width: 100%;
$height: 100%;

// Global CSS
html, body {
	width: $width;
	height: $height;
	font-family: 'Lato';
}

p {
	font-size: em(18px);
	margin-top: em(5px);
	margin-bottom: em(5px);
}
// Class Specific CSS
.fa-btn {
	margin-right: em(6px);
}

.center-align {
	text-align: center;
}

.align-right {
	text-align: right;
}
// ID Specific CSS
